

.dottomodachi-div {
    background-image: url("./public/images/egg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40rem;
    width: 30rem;
    margin: 0 auto;
    position: relative;
}

.dottomodachi-div img{
    border-radius: 10%;
    position: absolute;
    margin-top: 1rem;
    max-width: 10rem;
    top: 15%;
    left: 35%;
  }

#sprite-logo {
    border-radius: 10%;
}

#adoption-sprite {
    border-radius: 10%;
}

.progress-bars {
    width: 150px;
    position: absolute;
    top: 40%;
    left: 33%;
}

.buttons-area {
    position: absolute;
    top: 73%;
    left: 30%;
}

@media only screen and (max-width: 600px){
    .dottomodachi-div {
        margin: 0;
    }
}

